body{
  overflow: hidden;
}

.App {
  overflow: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
}

/* Cards Section */
.card{
  box-shadow: 10px 20px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  border: none
}

.card-header{
  text-align: center;
  border-bottom: 1px solid black;
  background: #FFFFFF;
}

.card-footer{
  background: #FFFFFF;
}

/* Card Section End */

.login-body {
  background: #FFFFFF;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  font-family: "Domine", serif;
}

.vector{
  position: absolute;
  width: 1440.05px;
  height: 1728.02px;
  left: 115.16px;
  top: 355.13px;
  z-index: -1;
  background: url('./images/vg-vector.png') no-repeat;
}

.app-name{
  position: absolute;
  width: 128px;
  height: 64px;
  left: 79px;
  top: 145px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #FFFEFE;
}

.graduation-hat{
  position: absolute;
  width: 100px;
  height: 100px;
  left: 100px;
  top: 38px;
  object-fit: contain;
  background-image: url('./images/graduation-hat.png');
}

.notebook{
  position: absolute;
  width: 247px;
  height: 256px;
  left: 237px;
  top: 270px;
  background: url('./images/notebook2.png') no-repeat;
}

.quote{
  position: absolute;
  width: 259px;
  height: 62px;
  left: 455px;
  top: 360px;
  font-family: 'Domine' ;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #2B2B2B;
}

.login-box {
  position: absolute;
  width: 370px;
  height: 620px;
  left: 1010px;
  top:  58px;
  background: #FFFEFE;
  border-radius: 20px;
  box-shadow: 15px 25px 10px rgba(0, 0, 0, 0.25);
}

.login-button{
  margin-left: 35px;
}

.login-box div .login-name{
  text-align: 'center';
  margin-bottom: '15px';
  margin-top: '25px';
  font-weight: '600';
}

.forget-password{
  margin-top: 8px;
}

.go-signup{
  text-align: 'center';
  margin-top: 3em;
}

.signup-box {
  width: 30em;
  height: 90vh;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 10px 18px #4d4d4d;
}

.signup-box div Form .form {
  margin-left: 50px;
}

.sidebar {
  min-width: 320px;
  max-width: 320px;
  background: linear-gradient(171.87deg, #A1C4FD 0%, #C2E9FB 85.3%);
  color: white;
  height: 100vh;
  margin-left: -320px;
  transition: all 0.5s;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  border-bottom: 2px solid white;
}

.sidebar-header .row .times span {
  color: white;
  font-size: 35px;
  font-style: normal;
  font-family: 'Montserrat';
  text-align: center;
}

.nav-item:hover {
  background: #fff;
}

.nav-item .nav-link{
  color: white;
  padding-top: 10px; 
}

.nav-item .nav-link:hover{
  color: #7386d5
}

.sidebar-active-tab{
  background: #82b1fc;
  color: #7386d5 !important;
}

.sidebar-header .row .sidebar-app-name{
  font-size: 26px;
}

.sidebar-header > .row .times {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
.side-menu {
  height: calc(100vh - 130px);
  /* overflow-y: scroll; */
}

.sidepanel{
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 50px;
}

.sidepanel .user-details .user-img{
    text-align: center;
    padding-bottom: 10px;
}

.sidepanel .row{
  overflow: hidden; 
  text-overflow: ellipsis;
  font-size: 22px;
  font-family: "Domine", serif;
}

.sidepanel .user-details{
  background: white;
  box-shadow:  15px 25px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  width: 65vw;
  height: 75vh;
}

.sidepanel .user-details .user-info .details{
  padding: 10px;
  margin-left: 30px;
}

.content {
  z-index: 1;
  padding: 20px;
  margin-left: 0;
  height: 100vh;
  font-family: 'Domine', serif;
}

.content .panel-header-row{
  height: '50px' !important;
  margin: '0 0.5em' !important;
  padding: '0 0.2em' !important;
  
}

.attendance-cards, .events-cards{
  overflow-y: scroll;
  height: 85vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.attendance-cards::-webkit-scrollbar, .students-list::-webkit-scrollbar, .timetable-cards::-webkit-scrollbar, .events-cards::-webkit-scrollbar, .chat-list-container::-webkit-scrollbar{
  display: none;
}

.students-list{
  overflow-y: scroll;
  height: 60vh;
  font-size: 18px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.chat-list-container{
  overflow-y: scroll;
  height: 65vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.events-cards #event-rows{
  margin: 2em
} 

.timetable-cards{
  overflow-y: scroll;
  height: 75vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.courses-cards{
  overflow-y: scroll;
  height: 85vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.courses-cards::-webkit-scrollbar{
  display: none;
}


.content .uploaded-files, .content #user-chats{
  overflow-y: scroll;
  height: 70vh;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.content .uploaded-files::-webkit-scrollbar, .content .uploaded-files .row .col::-webkit-scrollbar, .content #user-chats::-webkit-scrollbar{
  display: none;
}

.content .row #selectDay select{
 background: #b3ccff;
 padding: 5px;
 border-radius: 10px;
 border: 2px solid white;
}

.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.content .row #user-chats{
  background: 'black' !important;
  border: '1px solid black' ;
}

.chat-list{
 border-bottom: 1px solid #c3daff;
 padding: 0.5em;
 margin: 0 2em;
}
.chat-list .user-name{
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none !important;
  color: black !important;
  float: left;
}
/* 
.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #5466b3;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #3a4c99;
} */


/* Moto G4 and similar Sizes */

@media only screen and (max-width: 500px) {
  /* body {
    overflow: hidden;
  } */

  .content.is-open {
    display: none;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header .row .times {
    display: unset;
  }

  .sidepanel .row{
    padding-top: 10px;
    font-size: 15px;
  }

  .sidepanel{
    padding: 0px;
  }

  .user-img img{
    width: 80px;
    height: 80px;
  }

  .login-body svg, .app-name, .graduation-hat, .notebook, .quote{
    display: none;
  }

  .login-body{
    position: unset;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-box {
    position: unset;
    padding: 10px;
    height: inherit;
    width: inherit !important;
    box-shadow: unset;
    border-radius: unset;
    font-size: 18px !important;
  }

  .login-button{
    margin-left: 0;
  }

}


@media only screen and (max-width: 520px) {
  .signup-box {
    width: 70%;
    font-size: 10px;
  }
  .signup-form {
    margin-left: 0;
  }
  .content.is-open {
    display: none;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    overflow: hidden;
    transition: all 0.5s, height 0s;
  }
  .sidebar.is-open > .sidebar-header .row .times {
    display: unset;
  }
  .sidepanel .user-details{
    height: 70vh;
    width: 92vw;
  }
  .sidepanel .user-details .user-info .details{
    padding: 3px;
  }
  #panel-header-row{
    height: 15vh !important;
  }
  .content #user-chats{
    width: 90vw !important;
    height: 60vh !important;
    font-size: 10px !important;
    margin: 0 !important;
    padding: 0 !important
  }
  .content #user-chats .sent-text{
    margin-left: 2em !important
  }
  .content #user-chats .recieved-text{
    margin-right: 2em !important
  }
  .attendance-cards, .events-cards{
    height: 70vh !important;
  }
  .chat-list-container{
    height: 60vh;
  }
  .timetable-cards{
    height: 40vh;
  }
  .students-list{
    height: 40vh;
    font-size: 15px;
  }
  .course-wrapper{
    margin: '10px'
  }
  .card-img img{
    width: 70vw
  }
  .vector{
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .logo,
  .intro,
  .signup-logo {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  .login-box {
    width: 70%;
    font-size: 10px;
  }
  .signup-box {
    width: 85%;
  }
  .signup-box div Form {
    font-size: "2px";
  }
  .sidebar{
    height: 100vh;
  }
  
}

/*Ipad*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {

  .login-body{
    overflow: hidden !important;
  }

  .content.is-open {
    display: none;
  }

  .sidebar{
    overflow: hidden;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    font-size: 25px;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header .row .times {
    display: unset;
  }

  .sidepanel .user-details{
    height: 70vh;
    width: 92vw;
  }

  .login-body .lower-svg-vector{
    width: 1000px
  }

  .login-body .upper-svg-vector{
    width: 350px;
    height: 250px
  }

  .app-name{
    width: 80px;
    height: 40px;
    top: 100px;
    left: 50px;
    text-align: center;
  }

  .graduation-hat{
    top: 20px;
    left: 35px;
  }

  .notebook{
    display: none;
  }

  .quote{
    left: 100px;
    top: 300px;
    font-size: 20px
  }

  .login-box{
    left: 450px;
    top: 70px;
    width: 270px;
    height: 550px;
  }

  .vector{
    display: none;
  }

  #panel-header-row{
    height: 10vh !important;
  }

  .content #user-chats{
    width: 95vw !important;
    height: 70vh !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important
  }
  .content #user-chats .sent-text{
    margin-left: 4em !important
  }
  .content #user-chats .recieved-text{
    margin-right: 4em !important
  }
  .sidebar-header .row .sidebar-app-name{
    font-size: 40px !important;
    margin: auto !important;
  }
  .sidebar-header .row .times span {
    font-size: 55px !important;
    text-align: center;
  }
  .sidebar-header .row .sidebar-graduation-hat{
    margin: auto !important;
    width: 100px;
  }
}

/* Ipad pro and bigger Screen */
@media all and (device-width: 1024px) and (min-device-height: 600px), 
(device-width: 1280px) and (min-device-height: 800px){
  .login-body{
    overflow: hidden !important;
  }

  .content.is-open {
    display: none;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    font-size: 30px;
    transition: all 0.5s, height 0s;
  }

  .sidebar{
    overflow: hidden;
  }
  .sidebar.is-open > .sidebar-header .row .times {
    display: unset;
  }

  .login-body .lower-svg-vector{
    width: 1100px
  }

  .login-body .upper-svg-vector{
    width: 350px;
    height: 250px
  }

  .app-name{
    width: 80px;
    height: 40px;
    top: 100px;
    left: 50px;
    text-align: center;
  }

  .graduation-hat{
    top: 20px;
    left: 35px;
  }

  .notebook{
    left: 100px;
    top: 250px;
  }

  .quote{
    left: 300px;
    top: 350px;
    font-size: 20px
  }

  .login-box{
    left: 650px;
    top: 50px;
    width: 300px;
    height: 520px;
  }

   .vector{
    display: none;
  }

  #panel-header-row{
    height: 10vh !important;
  }

  .content #user-chats{
    width: 95vw !important;
    height: 65vh !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important
  }
  .content #user-chats .sent-text{
    margin-left: 4em !important
  }
  .content #user-chats .recieved-text{
    margin-right: 4em !important
  }
  .sidebar-header .row .sidebar-app-name{
    font-size: 40px !important;
    margin: auto !important;
  }
  .sidebar-header .row .times span {
    font-size: 55px !important;
    text-align: center;
  }
  .sidebar-header .row .sidebar-graduation-hat{
    margin: auto !important;
    width: 100px;
  }
  .sidepanel .user-details{
    height: 70vh;
    width: 92vw;
  }
  .card-img img{
    width: 320px !important;
    height: 320px;
  }
} 

@media all and (device-width: 1024px) and (device-height: 600px){
  .content #user-chats{
    width: 95vw !important;
    height: 57vh !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important
  }
  .sidebar-header .row .sidebar-app-name{
    font-size: 40px !important;
    margin: auto !important;
  }
  .sidebar-header .row .times span {
    font-size: 55px !important;
    text-align: center;
  }
  .sidebar-header .row .sidebar-graduation-hat{
    margin: auto !important;
    width: 100px;
  }
  .sidepanel .user-details{
    height: 65vh;
    width: 92vw;
    overflow: scroll;
    border: none;
    box-shadow: none;
  }
  .sidepanel .user-details .user-info .details{
    padding: 2px !important;
    margin: 0 !important;
  }
  .card-img img{
    width: 320px !important;
    height: 320px;
  }
  .sidebar{
    font-size: 20px !important;
  }
}


@media all and (device-width: 540px) and (device-height: 720px) and (orientation:portrait) {
  
  .login-body{
    overflow: hidden !important;
  }

  .login-body .lower-svg-vector{
    width: 1100px
  }

  .login-body .upper-svg-vector{
    width: 350px;
    height: 250px
  }

  .sidebar{
    overflow: hidden;
    font-size: 20px;
  }

  .app-name{
    width: 80px;
    height: 40px;
    top: 100px;
    left: 50px;
    text-align: center;
  }

  .graduation-hat{
    top: 20px;
    left: 35px;
  }

  .notebook, .quote{
    display: none
  }

  .login-box{
    left: 170px;
    top: 90px;
    width: 300px;
    height: 570px;
  }

  .vector{
    display: none;
  }
  
  #panel-header-row{
    height: 15vh !important;
  }

  .content #user-chats{
    width: 95vw !important;
    height: 65vh !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important
  }
  .content #user-chats .sent-text{
    margin-left: 2em !important
  }
  .content #user-chats .recieved-text{
    margin-right: 2em !important
  }
  .sidebar-header .row .sidebar-app-name{
    font-size: 30px !important;
    margin: auto !important;
  }
  .sidebar-header .row .times span {
    font-size: 45px !important;
    text-align: center;
  }
  .sidebar-header .row .sidebar-graduation-hat{
    margin: auto !important;
    width: 100px;
  }
  .sidepanel .user-details{
    height: 70vh;
    width: 92vw;
  }
  .card-img img{
    width: 320px !important;
    height: 320px;
  }
} 

@media all and (max-device-width: 850px) and (max-device-height: 550px) and (orientation:landscape) {

  .login-body{
    position: relative;
    overflow: hidden;
  }

  .login-body .lower-svg-vector{
    position: absolute;
    width: 550px;
    left: 120px;
    top: 0px;
  }

  .login-body .upper-svg-vector{
    position: absolute;
    top: 0;
    width: 220px;
    height: 180px;
  }

  .app-name{
    top: 60px;
    left: 10px;
    text-align: center;
    font-size: 18px;
  }

  .quote{
    top: 170px;
    left: 180px;
    width: 150px;
    font-size: 15px;
  }

  .graduation-hat{
    background: url('./images/graduation-hat-small.png') no-repeat;
    top: 10px;
    left: 40px;
  }

  .notebook{
    background: url('./images/notebook2-sm.png') no-repeat;
    top: 160px;
    left: 70px;
  }

  .login-box div img{
    display: none !important;
  }

  .login-box{
    left: 380px;
    top : 2px;
    width: 200px;
    height: 350px;
    font-size: 15px !important;
  }

  .login-box div .login-name{
    margin-top: 0px;
    padding-top: 0px;
  }

  .forget-password{
    padding: 0;
    margin: 0;
  }

  .login-button{
    padding-left: 1px;
    margin: 0;
  }

  .go-signup{
    margin-top: 1em;
  }

  .vector{
    display: none;
  }

  .sidebar{
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 15px;
  }

  .sidebar .sidebar-header .sidebar-app-name, .sidebar .sidebar-header .sidebar-graduation-hat{
    margin: auto;
  }

  .content #user-chats{
    width: 95vw !important;
    height: 53vh !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important
  }

  .sidepanel .user-details{
    height: 65vh;
    width: 95vw;
    overflow: scroll;
    box-shadow: none;
    border: none;
  }
  .sidepanel .user-details .user-info .details{
    padding: 5px !important;
    margin: 0 !important;
  }
  #panel-header-row .gu-logo-page{
    display: none;
  }
  #panel-header-row{
    height: 10vh !important;
  }
  .content #user-chats .sent-text{
    margin-left: 2em !important
  }
  .content #user-chats .recieved-text{
    margin-right: 2em !important
  }
} 

@media all and (device-width: 731px) and (device-height: 411px) and (orientation:landscape), (device-width: 823px) and (device-height: 411px) and (orientation:landscape), (device-width: 736px) and (device-height: 414px) and (orientation:landscape),(device-width: 720px) and (device-height: 540px) and (orientation:landscape){
  .login-body .lower-svg-vector{
    position: absolute;
    width: 1000px;
    left: 100px;
    top: 30px;
  }
  .login-box{
    left: 470px;
    top: 30px;
  }
}

@media all and (device-width: 667px) and (device-height: 375px) and (orientation:landscape), (device-width: 812px) and (device-height: 375px) and (orientation:landscape){
   .login-body .lower-svg-vector{
    position: absolute;
    width: 1000px;
    left: 100px;
    top: 30px;
  }
  .login-box{
    left: 420px;
    top: 10px;
  }
}

@media all and (device-width: 720px) and (device-height: 540px) and (orientation:landscape){
  .login-body .lower-svg-vector{
    position: absolute;
    width: 1000px;
    left: 100px;
    top: 70px;
  }
}

@media all and (device-width: 1280px) and (device-height: 800px) and (orientation:landscape){
  .login-body .lower-svg-vector{
    position: absolute;
    width: 1000px;
    left: 400px;
    top: 200px;
  }
  .login-box{
    left: 820px;
    top: 50px;
  }
}


@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .content.is-open {
    display: none;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }
  .sidebar.is-open > .sidebar-header .row .times {
    display: unset;
  }
  .sidepanel .user-details .user-info .details{
    padding: 5px !important;
    margin: 0 !important;
  }
}

@media all and (min-device-width: 1300px) and (device-height: 1024px) and (orientation:landscape) {
  .App{
    overflow: hidden !important;
  }
  .sidebar{
    overflow: hidden;
  }
  .vector{
    width: 1200px;
    left: 185.16px;
    top: 545.13px;
  }
}

@media only screen and (max-width: 900px) {
  
  .signup-intro {
    display: none;
  }
  .content.is-open {
    display: none;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header .row .times {
    display: unset;
  }

  .sidepanel .row{
    padding-top: 10px;
    font-size: 15px;
  }

  .sidepanel{
    padding: 0px;
  }

  .user-img img{
    width: 80px;
    height: 80px;
  }

  .content #panel-header-row{
    margin: 0 !important;
    padding: 0 !important;
  }

  .attendance-cards, .events-cards{
    height: 75vh;
  }

  .chat-list-container{
    height: 65vh;
  }

  .events-cards #event-rows{
    margin: 0.2em
  } 

  .courses-cards{
    height: 75vh;
  }

  .content .uploaded-files{
    height: 60vh;
  }

  .timetable-cards{
    overflow: scroll;
    height: 50vh;
  }

}

@media all and (max-device-width: 655px) and (max-device-height: 322px) and (orientation: landscape){

  .login-box{
    top: 0;
    height: 320px;
    font-size: 10px !important;
  }

  .content #user-chats{
    width: 95vw !important;
    height: 47vh !important;
    font-size: 15px !important;
    margin: 0 !important;
    padding: 0 !important
  }
}

@media only screen and (max-width: 345px){
  .content .uploaded-files{
    height: 55vh;
  }
  .login-box{
    font-size: 15px !important;
  }
  #panel-header-row{
    height: 18vh !important;
  }
  .sidepanel .user-details{
    overflow: scroll;
    border: none;
    box-shadow: none;
  }
  .chat-list-container{
    height: 55vh;
  }
}